/* Importing of Custom Font */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

/* General Styling to Website */

body {
    font-family: "Urbanist", "sans-serif";
    overflow-x: hidden;
    background-repeat: repeat;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/dust_scratches.png);
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: currentColor;
}

footer {
    margin: 30px 0px;
}

/* Styling for Navigation Bar */

header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #f6f6f6;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25);
    align-items: center;
    margin-bottom: 35px;
}

header .container-fluid {
    width: 100%;
    padding: 12px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navb-brand a {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

header .navb-brand a {
    text-decoration: none;
}

header .navb-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .item {
    text-align: center;
    margin: 0 10%;
    font-size: 15px;
    letter-spacing: 3px;
    color: #102447;
    padding: 15px 0;
    transition: width 2s, height 2s;
    transition-timing-function: ease;
    border-bottom: 0px solid #64d6f4;
    border-top: 0px solid #64d6f4;
    white-space: nowrap;
    cursor: pointer;
}

header .item:hover {
    color: #F0B36A;
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}

header .item a:hover {
    text-decoration: none;
}

/* Navigation - Search Bar */

header .search-container {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

header .search-bar-icon {
    padding-top: 10px;
    padding-left: 35px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.search-bar {
    position: absolute;
    right: 27px;
    margin-top: 2.5px;
    outline: none;
    border: none;
    padding: 0;
    width: 0;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.search-bar:focus {
    margin-top: 2.5px;
    padding: 7px 17px;
    width: 300px;
    right: 27px;
    letter-spacing: 1px;
    font-size: 14px;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

/* Dropdown Catalogue Menu */
header .item .dropdown-menu {
    background-color: #f6f6f6;
    margin-top: 10px;
}

header .item .dropdown-item input{
    border: none;
    background-color: #f6f6f6;
    letter-spacing: 1px;
    padding: 3px;
}

header .item .dropdown-item input:hover, header .item .dropdown-item:hover {
    background-color: #fff;
    color: #F0B36A;
}

/* Navigation Bar - Compressed */

header .modal-dialog {
    margin: 0;
    width: 100%;

}

@media(max-width: 480px) {
    header.modal-dialog {
        width: 82px;
    }
    header .navb-brand a {
        font-size: 100%;
    }
}

header .modal-content {
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #f6f6f6;
}

header .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 1%;
    border-bottom: 2px solid #000;
}

header .modal-header .btn-close {
    background: transparent;
    opacity: 1;
}

header .modal-header a:hover {
    text-decoration: none;
}

header .modal-body {
    width: 88%;
    margin: 0 auto;
    padding: 0;
}

header .modal-body .modal-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 30px;
    cursor: pointer;
    transition: width 2s, height 2s;
    transition-timing-function: ease;
    color: #000;
    border-bottom: 1px solid #274d8a;
}

header .modal-body .modal-item form {
    display: flex;
    justify-content: center;
    width: 200%;
}


header .modal-body .modal-item input {
    margin: 15px 5px;
    padding: 4px 17px;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 85%;
}

header .modal-body .modal-item button {
    padding-top: 8px;
    border: none;
    background: none;
}

header .modal-body .modal-item a:hover {
    text-decoration: none;
    color: #edaa00;
}

header .modal-item a {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #000;
}

header .modal-item i {
    color: #000;
    font-size: 20px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}


/* Catalogue */

.catalogue-display h1{
    padding-top: 15px;
    font-size: 15px;
    letter-spacing: 1px;
}

.catalogue-display h2{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}


div .catalogue-box {
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 30px 15px;
    border-style: solid;
    border-color: #f1f1f1;
    background-color: #fff;
}

div .catalogue-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.catalogue-box .catalogue-items img {
    width: 100%;
}

div .catalogue-button {
    display: flex;
    justify-content: space-around;
}

/* Catalogue - Product Details*/

.product-item .modal-dialog {
    display: flex;
    justify-content: center;
}

.product-item .modal-content {
    height: 90vh;
    min-width: 90vw;
}

@media (max-width: 992px) {
    .product-item .modal-content {
        height: 100vh;
        min-width: 100vw;
    }
}

.product-item-btn {
    display: flex;
    justify-content: flex-end;
}

.product-item-btn button{
    border: none;
    font-size: 25px;
    background-color: #fff;
}

.product-item-img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0px 40px;
}

.product-item-img img {
    width: 100%;
    height: auto;
    max-width: 550px;
    max-height: 550px;
}

.product-item-row{
    margin: 20px 5px;
    letter-spacing: 1px;
}

.product-item-row:first-child .product-item-line {
    margin-top: 20px;
}

.product-item-row:nth-child(2) .product-item-line {
    margin-bottom: 13px;
}

.product-item-row h1{
    font-size: 14px;
    text-transform: uppercase;
}

.product-item-row h2{
    font-size: 33px;
    font-weight: bold;
}

.product-item-row h3{
    font-size: 16px;
}

.product-item-row h4{
    font-size: 12px;
    font-style: italic;
}

.product-item-row h5{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.product-item-row p{
    font-size: 15px;
}

.product-item-row:nth-child(5), .product-item-row:nth-child(8) {
    margin: 40px 5px 0px;

}

.product-item-row:nth-child(6), .product-item-row:nth-child(9) {
    margin: 0px 5px 10px;
}

.product-item-row:nth-child(7) .product-item-line {
    display: flex;
    justify-content: center;
    padding: 10px 0px 30px;
}

.product-item-row:nth-child(7) .product-item-line button {
    width: 100%;
    padding: 7px 5px;
    margin: 0px 15px;
    border-radius: 20px;
}

/* Backend Catalogue */

.backend-catalogue {
    padding: 10px 20px;
}

.backend-catalogue-display-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*
.backend-catalogue-display-row form {
    width: 100%;
    padding: 15px 10px;
}

.backend-catalogue-display-item {
    display: flex;
    padding: 15px;
    width: 100%;
    flex-grow: 1;
}

.backend-catalogue-display-item label{
    letter-spacing: 1px;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 12px;
    letter-spacing: 1px;
}

.backend-catalogue-display-item input{
    padding: 5px 10px;
    font-size: 14px;
    letter-spacing: 1px;
    width: 70%;
}

.backend-catalogue-table table thead, tbody{
    text-align: center;
    letter-spacing: 1px;
}
*/


/*Payment Page*/
#creditcardinfo .form-group, #cardname .form-group, #paybtn .form-group{
    display:inline-block;
    padding-right:3%;
}
#cardnumber{
    width: 200px;
}

#cancelpayment {
    padding-right: 45px;
    padding-left:45px;
}
#securitycode{
    width:100px;
}

/*Checkout Page*/
.checkout .flexcontainer{
    display:flex;
    background-color: #f6f6f6;
}
.checkout .flexcontainer h4, .checkout .flexcontainer div{
    margin:20px;
    width:200px;
    text-align:right;
}
.checkout .flexcontainer .checkoutproduct{
    width:70%;
    text-align:left;
    margin:20px;
    display:flex;
    flex-wrap:wrap;
}
.checkout .flexcontainer img{
    width: 60px;
    height:auto;
    padding-bottom:0;
    margin-right:40px;
}
.cartitems p{
    margin-right:20px;
}

.checkout .btn{
    align-self: end;
}
.checkout .checkoutbtns .btn-warning{
    color:white;
    margin-right: 10px;
}
.checkout .checkoutbtns .btn-success{
    padding-right:50px;
    padding-left:50px;
}
.checkout .checkoutbtns{
    display:flex;
    justify-content: end;
    margin-top:10px;
}

/*Start Home Page CSS - Keefe*/

.home .header h1 {
    float: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.home .container.header {
    position: relative;
    text-align: center;
}

#myCarousel {
    width: 80%;
    height: 100%;
    margin:auto;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12); 
}

.category-icon {     /*for categories thumbnail img*/
    width: 200px; 
    height: 200px;
    object-fit: cover;
}

.categories .thumbnail a {
    color:black;
    text-decoration: none;
}

.categories .thumbnail a:hover {
    color:red;
    cursor:pointer;
}

.productbox .thumbnail {
    padding:0;
    border-radius:0;
    border:solid;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}

.productbox .thumbnail>img {
    width:100%;
    display:block;
}

.productbox .thumbnail h3 {
    font-size:26px;
}

.productbox .thumbnail h3,.card-description {
    margin:0;
    padding:8px 0;
    border-bottom:solid 1px #eee;
}

.productbox .thumbnail p {
    padding-top:8px;
    font-size:20px
}

.productbox .thumbnail .btn {
    border-radius:0;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    font-size:20px
}

.flex-box.cartbutton {
    display:flex;
    justify-content: flex-end;
}

.productbox .productitem {
    background: darkgoldenrod;
}
/*End Home Page CSS - Keefe*/