/* Importing of Custom Font */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

/* General Styling to Website */

body {
    font-family: "Urbanist", "sans-serif";
    overflow-x: hidden;
    background-repeat: repeat;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/dust_scratches.png);
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: currentColor;
}

/* Decreasing z-index of First Caoursel to allow Navbar to supersede it */
.indexPromoCarousel {
    z-index: 0
}


footer {
    margin: 30px 0px;
}

/* Navigation Bar */

nav {
    display: flex;
    width: 100%;
    height: 9.5vh;
    background-color: #f6f6f6;
    align-items: center;
    z-index: 2;
}

nav .container-fluid .row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0vh 2vw;
}

nav .container-fluid .row .row{
    padding: 0px;
}

nav .container-fluid .row .navb-header-row:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

nav .container-fluid .row .navb-header-row a {
    padding: 15px 0px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

nav .container-fluid .row .navb-header-row a:hover, nav .container-fluid .row .navb-header-row button i:hover {
    color: #FFBF7A;
    text-decoration: none;
    cursor: pointer;
}

nav .container-fluid .row .navb-search form {
    width: 100%;
}

nav .container-fluid .row .navb-search form .search-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav .container-fluid .row .navb-search form .search-container .row {
    display: flex;
    justify-content: center;
}

nav .container-fluid .row .navb-search form .search-container .row div:nth-child(1) {
    width: 90%;
}

nav .container-fluid .row .navb-search form .search-container input {
    width: 100%;
    padding: 5px 15px;
    font-size: 13px;
    font-style: italic;
    color: #000;
    background-color: #f6f6f6;
    letter-spacing: 1.7px;
    border-radius: 9px;
}

nav .container-fluid .row .navb-search form .search-container button {
    border: none;
    margin: 0px;
    color: #000;
}

nav .container-fluid .row .navb-search form .search-container input:hover {
    cursor: pointer;
}

nav .container-fluid .row .navb-search form .search-container input:focus {
    color: #FFBF7A;
    background-color: #fff;
}

nav .container-fluid .row .navb-search form .search-container button:hover {
    border: none;
    margin: 0px;
    color: #FFBF7A;
    background-color: #f6f6f6;
    cursor: pointer;
}

nav .container-fluid .row .navb-items .navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav .container-fluid .row .navb-items .navbar-nav .navb-items-box{
    display: flex;
    justify-content: flex-end;
}

nav .container-fluid .row .navb-items .row .item {
    padding-left: 40px;
}

nav .container-fluid .row .navb-items .row .item:hover, nav .container-fluid .row .navb-items .row .item a:hover{
    color: #FFBF7A;
    text-decoration: none;
    cursor: pointer;
}

nav .container-fluid .row .navb-items .row .item a i, nav .container-fluid .row .navb-items .row .item a i{
    padding: 0px 3px;
}

nav .container-fluid .row .navb-items .row .item .navb-profile, nav .container-fluid .row .navb-items .row .item .navb-catalogue {
    margin-top: 8px;
    width: 15vw;
}

nav .container-fluid .row .navb-items .row .item .navb-catalogue {
    margin-top: 8px;
    width: 19vw;
}

nav .container-fluid .row .navb-items .row .item .navb-profile .row, nav .container-fluid .row .navb-items .row .item .navb-catalogue .row {
    margin-left: 15px;
}

nav .container-fluid .row .navb-items .row .item .navb-catalogue .row {
    margin-left: 1px;
}

nav .container-fluid .row .navb-items .row .item .navb-profile .row div, nav .container-fluid .row .navb-items .row .item .navb-catalogue .row div {
    padding: 5px 0px;
}

nav .container-fluid .row .navb-items .row .item .navb-profile .row div input, nav .container-fluid .row .navb-items .row .item .navb-catalogue .row div input {
    font-size: 14px;
    border: none;
    margin-left: 20px;
    letter-spacing: 1px;
    background-color: #fff;
}

nav .container-fluid .row .navb-items .row .item .navb-profile .row div input:hover, nav .container-fluid .row .navb-items .row .item .navb-catalogue .row div input:hover{
    border: none;
    margin-left: 20px;
    color: #FFBF7A;
    text-decoration: none;
    cursor: pointer;
}

/* Catalogue */

.catalogue-display h1{
    padding-top: 15px;
    font-size: 15px;
    letter-spacing: 1px;
}

.catalogue-display h2{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}


div .catalogue-box {
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 30px 15px;
    border-style: solid;
    border-color: #f1f1f1;
    background-color: #fff;
}

div .catalogue-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.catalogue-box .catalogue-items img {
    width: 100%;
}

div .catalogue-button {
    display: flex;
    justify-content: space-around;
}

/* Catalogue - Product Details*/

.product-item .modal-dialog {
    display: flex;
    justify-content: center;
}

.product-item .modal-content {
    height: 90vh;
    min-width: 90vw;
}

.product-item-btn {
    display: flex;
    justify-content: flex-end;
}

.product-item-btn button{
    border: none;
    font-size: 25px;
    background-color: #fff;
}

.product-item-img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0px 40px;
}

.product-item-img img {
    width: 100%;
    height: auto;
    max-width: 550px;
    max-height: 550px;
}

.product-item-row{
    margin: 20px 5px;
    letter-spacing: 1px;
}

.product-item-row:first-child .product-item-line {
    margin-top: 20px;
}

.product-item-row:nth-child(2) .product-item-line {
    margin-bottom: 13px;
}

.product-item-row h1{
    font-size: 14px;
    text-transform: uppercase;
}

.product-item-row h2{
    font-size: 33px;
    font-weight: bold;
}

.product-item-row h3{
    font-size: 16px;
}

.product-item-row h4{
    font-size: 12px;
    font-style: italic;
}

.product-item-row h5{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.product-item-row p{
    font-size: 15px;
}

.product-item-row:nth-child(5), .product-item-row:nth-child(8) {
    margin: 40px 5px 0px;

}

.product-item-row:nth-child(6), .product-item-row:nth-child(9) {
    margin: 0px 5px 10px;
}

.product-item-row:nth-child(7) .product-item-line {
    display: flex;
    justify-content: center;
    padding: 10px 0px 30px;
}

.product-item-row:nth-child(7) .product-item-line button {
    width: 100%;
    padding: 7px 5px;
    margin: 0px 15px;
    border-radius: 20px;
}

/* Backend Catalogue */

.backend-catalogue {
    padding: 10px 20px;
}

.backend-catalogue-display-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*
.backend-catalogue-display-row form {
    width: 100%;
    padding: 15px 10px;
}

.backend-catalogue-display-item {
    display: flex;
    padding: 15px;
    width: 100%;
    flex-grow: 1;
}

.backend-catalogue-display-item label{
    letter-spacing: 1px;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 12px;
    letter-spacing: 1px;
}

.backend-catalogue-display-item input{
    padding: 5px 10px;
    font-size: 14px;
    letter-spacing: 1px;
    width: 70%;
}

.backend-catalogue-table table thead, tbody{
    text-align: center;
    letter-spacing: 1px;
}
*/


/*Payment Page*/
#creditcardinfo .form-group, #cardname .form-group, #paybtn .form-group{
    display:inline-block;
    padding-right:3%;
}
#cardnumber{
    width: 200px;
}

#cancelpayment {
    padding-right: 45px;
    padding-left:45px;
}
#securitycode{
    width:100px;
}

/*Checkout Page*/
.checkout .flexcontainer{
    display:flex;
    background-color: #f6f6f6;
}
.checkout .flexcontainer h4, .checkout .flexcontainer div{
    margin:20px;
    width:200px;
    text-align:right;
}
.checkout .flexcontainer .checkoutproduct{
    width:70%;
    text-align:left;
    margin:20px;
    display:flex;
    flex-wrap:wrap;
}
.checkout .flexcontainer img{
    width: 60px;
    height:auto;
    padding-bottom:0;
    margin-right:40px;
}
.cartitems p{
    margin-right:20px;
}

.checkout .btn{
    align-self: end;
}
.checkout .checkoutbtns .btn-warning{
    color:white;
    margin-right: 10px;
}
.checkout .checkoutbtns .btn-success{
    padding-right:50px;
    padding-left:50px;
}
.checkout .checkoutbtns{
    display:flex;
    justify-content: end;
    margin-top:10px;
}

/*Start Home Page CSS - Keefe*/

.home .header h1 {
    float: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.home .container.header {
    position: relative;
    text-align: center;
}

#myCarousel {
    width: 80%;
    height: 100%;
    margin:auto;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.category-icon {     /*for categories thumbnail img*/
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.categories .thumbnail a {
    color:black;
    text-decoration: none;
}

.categories .thumbnail a:hover {
    color:red;
    cursor:pointer;
}

.productbox .thumbnail {
    padding:0;
    border-radius:0;
    border:solid;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}

.productbox .thumbnail>img {
    width:100%;
    display:block;
}

.productbox .thumbnail h3 {
    font-size:26px;
}

.productbox .thumbnail h3,.card-description {
    margin:0;
    padding:8px 0;
    border-bottom:solid 1px #eee;
}

.productbox .thumbnail p {
    padding-top:8px;
    font-size:20px
}

.productbox .thumbnail .btn {
    border-radius:0;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    font-size:20px
}

.flex-box.cartbutton {
    display:flex;
    justify-content: flex-end;
}

.productbox .productitem {
    background: darkgoldenrod;
}

/* Dynamic Resizing (.col-sm & col-xs) */
@media (max-width: 768px) {

    /* Navigation Bar */
    nav .container-fluid .row .navb-header-row a {
        padding: 15px 5px;
    }

    nav .container-fluid .row .navb-search form .search-container .row div:nth-child(1) {
        margin-left: 5px;
        width: 80%;
    }

    nav .container-fluid .row .navb-items .navb-items-box .item .navb-catalogue, nav .container-fluid .row .navb-items .navb-items-box .item .navb-profile {
        max-width: 75vw;
    }

    nav .container-fluid .row .navb-items .navb-items-box .item .navb-profile form {
        max-width: 93%;
    }
}

/* Dynamic Resizing (.col-md) */
@media (max-width: 992px) {

    /* Navigation Bar */
    nav .container-fluid .row .navb-header-row a {
        padding: 15px;
    }

    /* Catalogue - Product Details*/
    .product-item .modal-content {
        height: 100vh;
        min-width: 100vw;
    }
}


/* Dynamic Resizing (.col-lg) */
@media (max-width: 1190px) {

    /* Navigation Bar */

    nav {
        display: flex;
        width: 100%;
        height: 6.5vh;
        background-color: #f6f6f6;
        align-items: center;
        padding: 0px;
        z-index: 2;
    }

    nav .container-fluid {
        min-width: 100vw;
    }

    nav .container-fluid .row {
        background-color: #f6f6f6;
    }

    nav .container-fluid .row .row {
        display: flex;
        justify-content: space-between;
    }

    nav .container-fluid .row .row navb-header-row{
        display: flex;
        justify-content: space-between;
    }

    nav .container-fluid .row .row .navb-search {
        padding: 0px;
    }

    nav .container-fluid .row .navb-search form .search-container {
        display: flex;
        justify-content: space-around;
    }
    nav .container-fluid .row .navb-search form .search-container input {
        font-size: 11.5px;
    }
    nav .container-fluid .row .navb-items .navb-items-box {
        flex-direction: column;
        align-items: flex-start;
    }

    nav .container-fluid .row .navb-items .navb-items-box .item {
        margin-top: 10px;
    }

    nav .container-fluid .row .navb-items .navb-items-box .item .navb-catalogue, nav .container-fluid .row .navb-items .navb-items-box .item .navb-profile {
        margin: 8px;
        width: 85vw
    }

    nav .container-fluid .row .navb-items .navb-items-box .item .navb-catalogue div {
        background-color: #fff;
        width: 99%;
    }

    nav .container-fluid .row .navb-items .navb-items-box .item .navb-profile form {
        width: 98%;
    }

    nav .container-fluid .row .navb-items .navb-items-box .item .navb-profile div {
        background-color: #fff;
        justify-content: flex-start;
    }

}





/*End Home Page CSS - Keefe*/